<ion-view view-title="{{plate}}">
  <ion-content class="padding service-list-detail">
    <h4>Bilgiler</h4>
    <div class="table-container">
      <div class="row" style="background-color: white;">
        <div class="col"><i style="color: #828282; margin-right: 7px; " class="icon ion-android-bus"></i>
          Servis Numarası
           <div class="sub-el" style=" font-size: 16px;">{{vm.item.ServiceNo}}</div></div>
        <div class="col"><i style="color: #828282; margin-right: 7px; " class="icon ion-clock"></i>Hareket Saati <div class="sub-el" style=" font-size: 16px;">{{vm.item.EveningEndTime}}</div></div>
      </div>
      <div class="row" style="background-color: white;">
        <div class="col"><i style="color: #828282; margin-right: 7px; " class="icon ion-person"></i>Sürücü <div class="sub-el" style=" font-size: 16px;">{{vm.item.DriverName}}</div></div>
        <div class="col" ng-click="callNumber(vm.item[7])"><i style="color: #828282; margin-right: 7px; " class="icon ion-ios-telephone"></i>Telefon <div class="sub-el" style="color: #e77915; font-size: 16px;">{{vm.item.DriverPhone}}</div></div>
      </div>
      <div class="row" style="background-color: white;">
        <div class="col"><i style="color: #828282; margin-right: 7px; " class="icon ion-person-stalker"></i>Proje Yöneticisi <div class="sub-el" style=" font-size: 16px;">{{vm.item.ProjectManager}}</div></div>
        <div class="col" ng-click="callNumber(vm.item[11])"><i style="color: #828282; margin-right: 7px; " class="icon ion-ios-telephone"></i>Telefon <div class="sub-el" style="color: #e77915; font-size: 16px;">{{vm.item.ProjectManagerPhone}}</div></div>
      </div>
    </div>

    <!-- <h4>Güzargah</h4>
    <div class="row" ng-repeat="data in vm.locations">
      <div class="col" ng-class="{'active-poll': $index == 0, 'disabled-poll': $index == vm.locations.length - 1}">{{$index == '0' ? 'Başlangıç' : ''}} {{$index == vm.locations.length - 1 ? 'Bitiş' : ''}}</div>
      <div class="col">{{data}}</div>
    </div> -->

    <h4>Harita</h4>
    <p>
      Adres: {{vm.vehicle.address}}
    </p>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='options'>
      <ui-gmap-marker ng-if="vm.marker" coords="vm.marker.coords" idkey="vm.marker.id">
       </ui-gmap-marker>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>
