<ion-view view-title="Tursan">
  <ion-content class="padding">
    <ion-list>
      <ion-item ng-click="go('tab.location-list')" class="item-icon-left">
        <i class="icon ion-ios-location" style="color: #e77915"></i>
        Nasıl Giderim?
      </ion-item>
      <ion-item ng-click="go('tab.service-list')" class="item-icon-left">
        <i class="icon ion-android-bus" style="color: #e77915"></i>
        Servis Listesi
      </ion-item>
      <ion-item ng-click="go('tab.is-arrived')" class="item-icon-left">
        <i class="icon ion-android-car" style="color: #e77915"></i>
        Aracım Geldi mi?
      </ion-item>
      <ion-item ng-click="go('tab.suggest')" class="item-icon-left">
        <i class="icon ion-ios-information" style="color: #e77915"></i>
        Şikayet - Öneri
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
