<ion-view view-title="Tursan">
  <ion-content class="padding">
    <ion-list>
      <ion-item ng-click="go('tab.location-list')" class="item-icon-left">
        <i class="icon ion-ios-location"></i>
        Nasıl Giderim?
      </ion-item>
      <ion-item ng-click="go('tab.service-list')" class="item-icon-left">
        <i class="icon ion-android-bus"></i>
        Servis Listesi
      </ion-item>
      <ion-item ng-click="go('tab.suggest')" class="item-icon-left">
        <i class="icon ion-ios-information"></i>
        Şikayet - Öneri
      </ion-item>
      <ion-item ng-click="go('tab.about')" class="item-icon-left">
        <i class="icon ion-android-contacts"></i>
        Hakkımızda
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
