<ion-view view-title="Giriş" class="login-view">
  <ion-content class="padding">
    <img src="./img/tursan.png" />
    <label class="item item-input">
      <i class="icon ion-email ion-ios-person-outline"></i>
      <input type="text" ng-model="vm.username" placeholder="Kurum">
    </label>
    <label class="item item-input">
      <i class="icon ion-email ion-ios-locked-outline"></i>
      <input type="password" ng-model="vm.password" placeholder="Şifre">
    </label>
  </ion-content>
  <ion-footer-bar class="bar-assertive footer-button" ng-click="login()">
    <h1 class="title">Devam</h1>
  </ion-footer-bar>
</ion-view>
