<ion-view view-title="{{vm.location}}">
  <ion-content class="padding">
    <ion-list>
      <ion-item collection-repeat="item in vm.items" ng-click="go(item)"  style="background-color: white !important;" class="item-icon-right">
        <div style="font-weight: 800;position: relative;
    top: 10px; display: inline-block; height: 35px; line-height:32px; text-align: center; border-radius: 3px; width: 35px; border: 2px solid gray; color: gray;">
          {{item.ServiceNo}}
        </div>
        <h3 style="display: inline-block; width: calc(100% - 30px)">
          <span style="padding-left: 20px; font-size: 15px;">{{item.Plate}}</span>
          <span style="float: right; font-weight: 300; color: #e77915;">{{item.EveningEndTime}}</span>
        </h3>
        <p style="margin-left: 60px;">{{item.RouteDescription}}</p>
        <i class="icon ion-chevron-right" style="font-size: 20px;"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
