<ion-view view-title="Giriş" class="login-view select-login">
  <ion-content>
    <img src="./img/tursan.png" />
    <button class="button button-full button-dark" ng-click="personelLogin()" style="position: relative; top: 40px; width: 80%; left: 0; right: 0; display: block; margin: 0 auto; border-radius: 5px; margin-top: 20px;">
      Personel Girişi
    </button>

    <button class="button button-full button-dark" ng-click="studentLogin()" style="position: relative; top: 50px; width: 80%; left: 0; right: 0; display: block; margin: 0 auto; border-radius: 5px; margin-top: 20px;">
      Öğrenci Girişi
    </button>
  </ion-content>
</ion-view>
