<ion-view view-title="Tursan'ı Tanıyın">
  <ion-content class="padding about-view">
    <img src="https://tursan.net/images/hakkimizda/hakkimizda2.png"></img>
    <p><b>Bir servis düşleyin...!</b></p>
    <p><b>Nelerin olmasını isterdiniz?</b></p>

    <p>
      Düşüncesiyle yola çıktık. 1986 yılından bugüne önce güvenlik ve kalite, sonra yenilik ve gelişim vazgeçemediğimiz temel değerlerimiz oldu. Taşıdığımız sorumluluğun daima farkında olduk ve bu düşünceyle birçok ilkin altına imza attık. 1996 yılında “Türkiye’de Öğrenci ve Personel Taşıma Standardı”nı hazırlayarak TSE’ye güvenli servis hizmetinin esaslarını oluşturduk. Servis sürücülerimize psikoteknik test uygulamasını başlattık. Güvenli sürücü seçim kriterlerini hazırladık, rehberli servisleri hayata geçirdik. Servis araçlarında emniyet kemerlerinin kullanılması ve uydu takip sistemleri uygulamasında öncü rol oynadık. 1999 yılında sektörde ilk ISO Kalite Yönetim Sistemi belgesini aldık. Servis sürücüleri için Türkiye’deki ilk mesleki eğitim modelini hayata geçirdik; eğitim filmleri hazırladık, kitaplar yazdık… Bu alanda Türkiye’ye değer standartları oluşturduk ve…
    </p>
    <p>Adını <b style="color: #e77915;">Tursan</b> Koyduk!</p>
  </ion-content>
</ion-view>
